.tron-card {
  padding: 1rem;
  border: 1px solid #ccc;
}

.tron-card-vsm {
  font-size: 12px;
}

.tron-card-sm {
  font-size: 14px;
}

.tron-card-m {
  font-size: 16px;
}

.tron-card-lg {
  font-size: 18px;
}

.tron-card-vlg {
  font-size: 20px;
}
